@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #112131;
$secondary: #071422;

// Lists and maps
$custom-colors: (
  "primary": (
    $primary,
    findLightColor($primary),
    findDarkColor($primary),
    findColorInvert($primary),
  ),
  "secondary": (
    $secondary,
    findLightColor($secondary),
    findDarkColor($secondary),
    findColorInvert($secondary),
  ),
) !default;

$custom-shades: null !default;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: mergeColorMaps($colors, $custom-colors);
