$navbar-box-shadow-color: $base-border;

$input-color: $base-title;
$input-background-color: $base-background;
$input-border-color: $base-border;
$input-hover-border-color: $brand-blue;
$input-focus-border-color: $brand-blue;
$input-focus-box-shadow-size: 0;

$button-color: $base-title;
$button-background-color: $brand-blue;
$button-border-color: $base-border;
$button-hover-color: $base-title;
$button-focus-color: $base-title;
$button-active-color: $base-title;
$button-hover-border-color: $brand-blue;
$button-focus-border-color: $brand-blue;
$button-focus-box-shadow-size: 0;

$card-background-color: $base-post;
$card-radius: 0.625rem;